<div>
    <div class="container mt-3">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Productos</h2>
            <div>
                <button class="btn btn-danger button-logout" (click)="logout()">Salir</button>
            </div>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="addProduct()" class="mb-3">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="name">Nombre del producto</label>
                    <input type="text" class="form-control" id="name" name="Nombre" formControlName="name">
                </div>
                <div class="form-group col-md-4">
                    <label for="description">Descripcion del producto</label>
                    <input type="text" class="form-control" id="description" name="Descripcion"
                        formControlName="description">
                </div>
                <div class="form-group col-md-4">
                    <label for="price">Precio</label>
                    <input type="number" class="form-control" id="price" name="Precio" formControlName="price">
                </div>
                <div class="form-group col-md-4">
                    <label for="quantity">Cantidad</label>
                    <input type="number" class="form-control" id="quantity" name="Cantidad" formControlName="quantity">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Agregar Producto</button>
            @if(errorAddProduct){
            <div class="alert alert-danger mt-3" role="alert">
                {{ errorAddProduct }}
            </div>
            }
        </form>
    </div>\
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-info me-2" (click)="getClientPopular(true)">Clientes Populares</button>
        <div class="form-check me-2">
            <input type="checkbox" class="form-check-input" id="bestSellers" [(ngModel)]="showBestSellers" (change)="filterProductsPopular()">
            <label class="form-check-label" for="bestSellers">Mostrar Más Vendidos</label>
        </div>
        <input type="text" class="form-control w-auto" placeholder="Buscar producto..." [(ngModel)]="searchTerm" (input)="filterProducts()">
    </div>
    <div>
        <h3 class="mt-4">Lista de Productos</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            @for(product of filteredProducts; track $index){
            <ng-container>
                <div class="col">
                    <div class="card">
                        <img src="/images/Product.jpeg" class="card-img-top custom-img" alt="{{ product.name }}">

                        <button class="btn btn-link position-absolute top-0 end-0 m-2" (click)="deleteProduct(product)">
                            <i class="bi bi-trash"></i>
                        </button>

                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><strong>Precio:</strong> {{ product.price | currency }}</p>
                            <p class="card-text"><strong>Fecha de Publicación:</strong> {{ product.publication_date |
                                date:'yyyy-MM-dd' }}</p>
                            <p class="card-text"><strong>Cantidad:</strong> {{ product.quantity }}</p>

                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Cantidad" aria-label="Cantidad"
                                    [(ngModel)]="product.quantityToBuy" min="1" max="{{ product.quantity }}">
                            </div>
                            <button class="btn btn-primary" (click)="buyProduct(product)">Comprar</button>
                        </div>
                    </div>
                </div>
            </ng-container>
            }
        </div>
    </div>
</div>

<div>
    @if(showPopoverBuy){
        <div class="popover-container">
            <div class="popover fade show bs-popover-top" role="tooltip">
                <div class="popover-arrow"></div>
                <h3 class="popover-header">Informacion de producto</h3>
                <div class="popover-body">
                    {{ this.checkSell }}
                    <button class="btn btn-link" (click)="closePopoverBuy()">Cerrar</button>
                </div>
            </div>
        </div>
    }

    @if(showInfo){
        <div class="info-box">
            <div class="info-content">
                <h3>Clientes frecuentes</h3>
                <ul class="list-group">
                    @for(client of clientsPopular; track $index){
                    <li class="list-group-item">
                        {{ client }}
                    </li>
                    }
                </ul>
                <button class="btn btn-secondary mt-3" (click)="toggleInfo()">Cerrar</button>
            </div>
        </div>
    }
</div>